@use '../00-settings/variables';

.btn {
  display: flex;
  justify-content: center;
  gap: .5em;
  align-items: center;
  padding: 1rem 1.5rem;   
  color: variables.$text-light;
  cursor: pointer;
  border: 0;
  max-width: fit-content;

  &--primary {
    background-color: variables.$primary-color;
    color: variables.$text-light;

    &:hover {
      background-color: variables.$primary-color;
      color: variables.$text-light;
      animation: movebackground .5s linear;
      background: linear-gradient(90deg, variables.$primary-color-darker 50%, transparent 50%);
      background-size: 200% 100%;
    }
  }


}


@keyframes animate-arrow {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes movebackground {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}