@use '../00-settings/variables';
@use '../01-tools/mixins' as mix;
@use '../01-tools/querys' as querys;
@use '../01-tools/spaces' as spaces;

.services {
  display: flex;
  flex-direction: column;
  gap: spaces.$gap;
  margin-top: 8rem;  
  @include mix.lg;
  h2 {
    font-size: 1.5rem;
    width: 30ch;
    font-weight: 700;
    color: variables.$primary-color;
    @include querys.mobile {        
      width: auto;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: spaces.$gap;
    position: relative;

    @include querys.mobile {
      flex-direction: row;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    gap: spaces.$gap;
    justify-content: space-between;
    padding: spaces.$padding-vertical spaces.$padding-horizontal;
    background-color: variables.$background-color-light;
    border-radius: 1rem;
    cursor: pointer;
    min-height: 6rem;
    max-height: 6rem;
    width: 100%;    

    &--active {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: spaces.$gap;
      justify-content: space-between;
      padding: spaces.$padding-vertical spaces.$padding-horizontal;
      background-color: variables.$secondary-color;
      border-radius: 1rem;
      cursor: pointer;          
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;    
      color: variables.$text-color;            
    
      &__icon{
        border-radius: 50%;
        background-color: darken(variables.$secondary-color, 15%);        
        padding: .4rem;
        border-radius: 50%;
        align-self: flex-end;    
      }
    }
  }
}