@use '../00-settings/variables';
@use '../01-tools/mixins' as mix;
@use '../01-tools/querys' as querys;
@use '../01-tools/spaces' as spaces;

.services {
  display: flex;
  flex-direction: column;
  gap: spaces.$gap;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));   
    gap: spaces.$gap;

    @include querys.mobile {
      flex-direction: row;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: spaces.$padding-vertical spaces.$padding-horizontal;
    background-color: variables.$background-color-light;
    gap: spaces.$gap;
    cursor: pointer;
    @include querys.mobile {
      flex-direction: row;
    }
    &--active{
      background-color: variables.$primary-color-darker;
      color: variables.$text-light;
      svg{
        stroke: variables.$text-light;
      }
    }
  }
}